*
!.gitignore
!/.config/

!.config/nvim
!.config/nvim/**

!/.config/fish/
!.config/fish/**

!/.config/komorebi/
!.config/komorebi/**

!/.config/wezterm/
!.config/wezterm/**

!/.config/windhawk/
!.config/windhawk/**

!/.config/yasb/
!.config/yasb/**
.config/yasb/*.log*

!/.config/zk/
!.config/zk/**

!/.config/kanagawa-wave.omp.json
!/.config/install-win.sh
!/.config/install.sh
!/.config/Scoopfile.json

!/packages/
!/packages/**
