[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:joseph280996/neovim-config.git
[submodule ".config/wezterm"]
	path = .config/wezterm
	url = git@github.com:joseph280996/wezterm-config.git
