*
!.bashrc
!.bash_profile
!.npmrc
!.condarc
!.yarnrc
!install.sh
!install-win.sh
!install.fish
!Brewfile
!Scoopfile.json
!installed_app.json
!.gitignore

!/.config/

!.config/nvim
!.config/nvim/**

!/.config/fish/
!.config/fish/**

!/.config/komorebi/
!.config/komorebi/**

!/.config/wezterm/
!.config/wezterm/**

!/.config/windhawk/
!.config/windhawk/**

!/.config/yasb/
!.config/yasb/**
.config/yasb/*.log*

!/.config/zk/
!.config/zk/**

!/.config/git/
!.config/git/**

!/.config/winfetch/
!.config/winfetch/**

!/.config/gatsby/
!.config/gatsby/config.json

!/.config/scoop/
!.config/scoop/**

!/.config/kitty/
!.config/kitty/**

!/.config/aerospace/
!.config/aerospace/**

!/.config/latexmk/
!.config/latexmk/**

!/.config/mcphub
!.config/mcphub/**
